all:
  children:
    nightwatch:
      hosts:
        # logmatters-producer-0.logmatters-producer.xxx.svc.cluster.local:
        # logmatters-producer-1.logmatters-producer.xxx.svc.cluster.local:
        {YOUR_HOST_IP}:
      vars:
        nightwatch_version: 1.1.1-rc4

        # ansible_user: root
        ansible_user: {YOUR_ANSIBLE_USER}
        # ansible_ssh_pass: ******
        ansible_ssh_pass: {YOUR_ANSIBLE_SSH_PASS}
        # ansible_ssh_private_key_file: ~/.ssh/key.pem
        ansible_ssh_private_key_file: {YOUR_SSH_KEY_FILE}

        telegraf_global_tags:
          - tag_name: "table"
            #tag_value: "logmatters"
            tag_value: "{YOUR_TABLE_NAME}"
        Telegraf_agent_output:

          - type: prometheus_client
            config:
              - listen = ":29273"
              - expiration_interval = "60s"

          - type: influxdb
            config:
              # - urls = ["https://influxdb.127.0.0.1.xip.io"]
              - urls = ["{YOUR_INFLUXDB_URL}"]
              - database = "dashbase_prometheus"
              # - username = "influxdb_user"
              - username = "{YOUR_INFLUXDB_USERNAME}"
              # - password = "influxdb_password"
              - password = "{YOUR_INFLUXDB_PASSWORD}"
              - insecure_skip_verify = true
              - precision = "10s"

        telegraf_plugins_default:
          - plugin: exec
            config:
              # - commands = ["/usr/bin/night-watch watch-append -p /data/*.log"]
              - commands = ["/usr/bin/night-watch watch-append -p {YOU_LOG_PATH}"]
              - timeout = "10s"
              - data_format = "influx"

          - plugin: http
            config:
              - urls = ["http://localhost:5066/stats"]
              - data_format = "json"

        prometheus_pushgateway_enable: True
        # prometheus_pushgateway_url: https://pushgateway.127.0.0.1.xip.io/metrics/job/filebeat/instance/{{ ansible_hostname }}
        prometheus_pushgateway_url: {YOUR_PUSHGHATEWAY_URL}/metrics/job/filebeat/instance/{{ ansible_hostname }}
